#login-container {
    margin-top: 10%;
}

#login-container h2, button, form{
     width: 100%;
}

#login-container form{
    margin-top: 15px;
}

#login-container button{
    margin-top: 15px;
}

#login-container .form-label{
    float: left;
}

/* #login-container .form-control{
    
} */